[submodule "Formats"]
	path = Formats
	url = https://github.com/horsicq/Formats
[submodule "StaticScan"]
	path = StaticScan
	url = https://github.com/horsicq/StaticScan
[submodule "XArchive"]
	path = XArchive
	url = https://github.com/horsicq/XArchive.git
[submodule "SpecAbstract"]
	path = SpecAbstract
	url = https://github.com/horsicq/SpecAbstract.git
[submodule "XOptions"]
	path = XOptions
	url = https://github.com/horsicq/XOptions.git
[submodule "XStyles"]
	path = XStyles
	url = https://github.com/horsicq/XStyles.git
[submodule "XTranslation"]
	path = XTranslation
	url = https://github.com/horsicq/XTranslation.git
[submodule "XDEX"]
	path = XDEX
	url = https://github.com/horsicq/XDEX.git
[submodule "XShortcuts"]
	path = XShortcuts
	url = https://github.com/horsicq/XShortcuts.git
[submodule "build_tools"]
	path = build_tools
	url = https://github.com/horsicq/build_tools
[submodule "XCppfilt"]
	path = XCppfilt
	url = https://github.com/horsicq/XCppfilt
[submodule "XDynStructs"]
	path = XDynStructs
	url = https://github.com/horsicq/XDynStructs
[submodule "XDynStructsEngine"]
	path = XDynStructsEngine
	url = https://github.com/horsicq/XDynStructsEngine
[submodule "XDynStructsWidget"]
	path = XDynStructsWidget
	url = https://github.com/horsicq/XDynStructsWidget
[submodule "XCapstone"]
	path = XCapstone
	url = https://github.com/horsicq/XCapstone
[submodule "FormatDialogs"]
	path = FormatDialogs
	url = https://github.com/horsicq/FormatDialogs
[submodule "XFileInfo"]
	path = XFileInfo
	url = https://github.com/horsicq/XFileInfo
[submodule "XPDF"]
	path = XPDF
	url = https://github.com/horsicq/XPDF
[submodule "XInfoDB"]
	path = XInfoDB
	url = https://github.com/horsicq/XInfoDB
[submodule "XSymbolsWidget"]
	path = XSymbolsWidget
	url = https://github.com/horsicq/XSymbolsWidget
[submodule "XOnlineTools"]
	path = XOnlineTools
	url = https://github.com/horsicq/XOnlineTools
[submodule "XAboutWidget"]
	path = XAboutWidget
	url = https://github.com/horsicq/XAboutWidget
