[submodule "Formats"]
	path = Formats
	url = https://github.com/horsicq/Formats
[submodule "StaticScan"]
	path = StaticScan
	url = https://github.com/horsicq/StaticScan
[submodule "XArchive"]
	path = XArchive
	url = https://github.com/horsicq/XArchive.git
[submodule "SpecAbstract"]
	path = SpecAbstract
	url = https://github.com/horsicq/SpecAbstract.git
