[Desktop Entry]
Version=#VERSION#
Type=Application
Name=NauzFileDetector
Comment=Nauz File Detector is a linker/compiler/packer identifier utility.
TryExec=nfd
Exec=nfd %F
Icon=nfd
Terminal=false
Categories=Development;
